@use "../../main.scss";

.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 30px;
  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
  }
  @media (max-width: 500px) {
    margin: 0 15px;
    &__list {
      gap: 20px;
    }
  }
}
.toogle_style {
  margin-left: 100px;
  margin-bottom: 30px;
  cursor: pointer;
}
