* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(76, 69, 72);
}
@mixin button {
  display: block;
  background-color: rgb(116, 34, 50);
  margin-left: 15px;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid rgb(63, 22, 32, 0.3);
  color: rgb(244, 203, 204);
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: whitesmoke;
    border: 1px solid rgb(19, 3, 7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
@mixin emptyCartOrFavPage {
  margin: 100px;
  padding: 50px 0px;
  border: 1px solid rgb(51, 38, 38);

  &__text {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
  }
  &__svg {
    display: block;
    margin: auto;
  }
}

@mixin emptyCartOrFavPageForSmallScreen {
  margin: 50px;
  padding: 20px 0px;
  border: 1px solid rgb(51, 38, 38);

  &__text {
    color: white;
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__svg {
    display: block;
    margin: auto;
  }
}
@mixin stylesForCartAndFavPage {
  margin: 30px 0px;
  padding: 30px 0px;
  border-top: 1px solid rgb(51, 38, 38);
  border-bottom: 1px solid rgb(51, 38, 38);
}

@mixin stylesforCardIfFlex {
  width: 400px;
  height: 600px;
  border: 1px solid rgb(51, 38, 38);
  padding: 10px;
  color: white;
  .card__item {
    list-style: none;
  }
  .card__image {
    display: block;
    width: 100%;
    height: 400px;

    margin-bottom: 10px;
  }
  .card__name {
    padding: 5px 10px 10px 15px;
    font-size: 26px;
    border-bottom: 1px solid rgb(51, 38, 38);
  }
  .card__price {
    display: block;
    margin: 10px;
    margin-left: 15px;
    font-size: 20px;
  }
  .card__action-btns {
    margin: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card__add-to-cart {
    @include button;
    margin-left: 0;
  }
  .card__vendorCode {
    display: block;
    margin: 2px 0px 0px 15px;
  }

  @media (max-width: 999px) {
    width: 300px;
    height: 540px;
    border: 1px solid rgb(51, 38, 38);
    padding: 10px;
    color: white;
    .card__item {
      list-style: none;
    }
    .card__image {
      display: block;
      width: 100%;
      height: 330px;
      margin-bottom: 10px;
    }
    .card__name {
      padding: 5px 10px 10px 15px;
      font-size: 22px;
      border-bottom: 1px solid rgb(51, 38, 38);
    }
    .card__price {
      display: block;
      margin: 7px;
      margin-left: 15px;
      font-size: 16px;
    }
    .card__action-btns {
      margin: 10px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .card__add-to-cart {
      @include button;
      margin-left: 0;
    }
    .card__vendorCode {
      display: block;
      margin: 2px 0px 0px 15px;
    }
  }
}

@mixin stylesforCardIfList {
  width: 100%;
  height: 400px;
  border-top: 1px solid rgb(51, 38, 38);
  border-bottom: 1px solid rgb(51, 38, 38);
  padding: 10px;
  margin: 10px;
  color: white;
  .card__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card__image {
    display: block;
    width: 350px;
    height: 350px;
    margin-right: 15px;
  }
  .card__name {
    padding: 5px 35px 10px 15px;
    font-size: 26px;
  }
  .card__price {
    display: block;
    margin: 30px;
    font-size: 30px;
  }
  .card__vendorCode {
    display: none;
  }
  .card__action-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media (max-width: 999px) {
    height: 300px;
    border-top: 1px solid rgb(51, 38, 38);
    .card__image {
      display: block;
      width: 250px;
      height: 250px;
    }
    .card__name {
      padding: 5px;
      font-size: 18px;
    }
    .card__price {
      display: block;
      margin: 5px;
      font-size: 24px;
    }
    .card__action-btns {
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 999px) {
    height: 250px;
    border-top: 1px solid rgb(51, 38, 38);
    padding: 5px;
    margin: 5px;

    .card__image {
      display: block;
      width: 200px;
      height: 200px;
    }
    .card__name {
      font-size: 14px;
    }
    .card__price {
      display: block;
      margin: 5px;
      font-size: 20px;
    }
    .card__action-btns {
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
